@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(10,20,70,0.4),rgba(0,0,0,0.4)),url("./bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none;  
  }
}
